body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.main-header h1{  
    margin-top: 1rem;
    padding-right: 28rem;
    font-weight: 600;
    color: white;

}
.nav-bar{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
     
}
.nav-btn{
    display: inline-block;
    padding: 2rem;
    text-decoration: none;
    color: grey;
    font-size: 1.5rem;
    cursor: pointer;
}
.nav-btn:hover{
    color: white;
    border-top: 2px solid white;
    padding: 5px;
}
hr{
    margin-top: 0;
   width: 100%;
    border: 2px solid gray;
}
.h1-text{
    color: white;
    font-size: 2.6rem;
}
.underneath{
color: white;
font-size: 2rem;
}
.student-name{
color: white;
font-size: 1.6rem;
}
.section-container{
    /* display: grid;
    grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
    grid-gap: 10rem;  */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
}
.text{
    
    
}
.image{
    margin: 3rem;
    /* margin-bottom: 2rem; */
    /* margin-right: 10rem; */
}
.images{
    
}
.section-container-odd{
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill,minmax(600px,1fr)); */
    /* grid-gap: 10rem;  */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.images-odd{
  /* margin-left: 12rem; */
   margin: 2rem;
   /* margin-bottom: 2rem;  */
}
.images-odd:hover{
    box-shadow: 0 0 1rem #fff;
}
.text-odd{
/* margin-top: 6rem; */
}
#texts{
    /* margin-top: 12rem; */
}
.images:hover{
    box-shadow: 0 0 1rem #fff;
}
@media screen and (max-width:580px) {
    header{
        display: flex;
        align-items: center;
        justify-content: center;
         flex-direction: column;
         width: 100%;
    }
    .main-header h1{
        /* align-items: center; */
            margin-left: 10rem; 
        
    } 
    .nav-bar{
         display: inline-block; 
         margin-left: -20rem;  
    }

    hr{
        width: 100%;
    }
    .section-container{
         display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%; 
    }
    .text{
        margin-left: 4rem;
    }
    .section-container-odd{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
        display: 100%;
    }
    .images{
        
         width: 100%;
        
    }
    .images-odd{
        width: 100%;
    }
    


}
