body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-header h1{  
    margin-top: 1rem;
    padding-right: 28rem;
    font-weight: 600;
    color: white;

}
.nav-bar{
    display: flex;
    
    justify-content: space-between;
    align-items: center;

}
.nav-btn{
    padding: 2rem;
    text-decoration: none;
    color: grey;
    font-size: 1.5rem;
    cursor: pointer;
}
.nav-btn:hover{
    color: white;
    border-top: 2px solid white;
    padding: 5px;
}
hr{
    margin-top: 0;
    border: 2px solid gray;
}
.h1-text{
    color: white;
    font-size: 2.6rem;
}
.underneath{
color: white;
font-size: 2rem;
}
.student-name{
color: white;
font-size: 1.6rem;
}
.section-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
    grid-gap: 10rem; 
}
.text{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    
}
.image{
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-right: 10rem;
}
.images{
    
}
.section-container-odd{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
    grid-gap: 10rem; 
}
.images-odd{
  margin-left: 12rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.images-odd:hover{
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 25px;
}
.text-odd{
margin-top: 6rem;
}
#texts{
    margin-top: 12rem;
}
.images:hover{
    border: 3px solid rgb(163, 163, 24);
    border-radius: 25px;
}
